<%= form_tag('/user', remote: true, type: "post", id: "user-form") do %>
  <%= text_field_tag :email, nil, placeholder: "Email" %>
  <%= text_field_tag :name, nil, placeholder: "Nome" %>
  <%= text_field_tag :address, nil, placeholder: "Endereço" %>
  <%= text_field_tag :number, nil, placeholder: "Número" %>
  <%= text_field_tag :neighbourhood, nil, placeholder: "Bairro" %>
  <%= text_field_tag :complement, nil, placeholder: "Complemento" %>
  <%= text_field_tag :uf, nil, placeholder: "Estado" %>
  <%= text_field_tag :city, nil, placeholder: "Cidadae" %>
  <%= text_field_tag :country, nil, placeholder: "País" %>

  <%= submit_tag :cadastrar%>
<% end %>

<script charset="utf-8">
  $(document).ready(function(){
    userForm = new $.userRegister.user_form_controller();
    userForm.init();
  });
</script>
