<a href="#" id="add-new-user">Adcionar novo usuario </a>
<ul class="users-grid">
  <% @users.each do |user| %>
    <% if user.present? %>
      <li class="user-row" data-user="<%= user.id %>">
        <div class="user-name"> <%= user.email %> </div>
        <div class="user-name"> <%= user.name %> </div>
        <a href="#" class="user-links user-show-telephone">Exibit Números</a>
        <a href="#" class="user-links user-add-telephone">Adicionar novo númeto ao usuario</a>
      </li>
    <% end %>
  <% end %>
</ul>
<div id="forms">
  <div id="telephone-form-group" style="display:none;" class="form-group" >
    <div class="close">Fechar Formulário </div>
    <h5>Formulário de numero de telefone</h5>
    <%= render "telephone/telephone_form" %>
  </div>

  <div id="user-form-group" style="display:none;" class="form-group">
    <div class="close">Fechar Formulário </div>
    <h5>Adicionar Novo usuario</h5>
    <%= render "user_form" %>
  </div>

  <div id="user-number-group" style="display:none;" class="form-group">
    <div class="close">Fechar</div>
    <h5>Lista de números do usuario</h5>
    <ul id="number-list"></ul>
  </div>
</div>
<script charset="utf-8">
  $('.close').on('click', function(){
    $(this).parents('.form-group').hide();
  });
</script>
