<%= form_tag(telephone_number_index_path, remote: true, type: "post", id: "telephone-form") do %>
  <%= hidden_field_tag :user_id,nil %>
  <%= text_field_tag :telephone_number, nil, placeholder: "numero de telefone" %>
  <%= submit_tag :cadastrar%>
<% end %>

<script charset="utf-8">
  $(document).ready(function(){
    telephoneForm = new $.userRegister.telephone_form_controller();
    telephoneForm.init();
  });
</script>
